{
    "rules": {
        "indent": [2, "tabs"],
        "quotes": [2, "single"],
        "linebreak-style": ["errors", "windows"],
        "semi": [2, "always"]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "process": true,
        "module": true,
        "require": true
    },
    "extends": "eslint:recommended"
}
